<div class="col-xs-10 col-xs-offset-1 about">

<div class="col-xs-10 col-xs-offset-1">
    <h1>About Splurty</h1>
    <p>Everyday we learn new things. This page was designed for people to share those new things. 
    So go ahead share!</p>
</div>


   <div class="col-xs-12 .col-sm-6 .col-sm-offset-3">
    <%= image_tag 'learning.jpg', class: 'img-responsive' %>
  </div>
  
  <br class="clear" />
    <br />
    <br />
    <br />
    <br />
</div>
 